.md-container {
  width: 100%;
  max-width: 1200px;
  position: relative;
  float: left;
  margin: auto;
  padding: 0 16px;
}

.md-block-right {
  float: right;
}

.md-block-left {
  float: left;
}
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
