@mixin imageContainer() {
  background-color: #7e7e7e;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin transition() {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@mixin shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin oneLineProperties() {
  padding: 16px 16px 0 16px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin clearFix(){
  &:after{
    // clear fix
    content: "";
    clear: both;
    display: table;
  }
}

@mixin inheritButton(){
  cursor: pointer;
  border: 0;
  color: inherit;
  background: none;
  padding: 0px;
}


@mixin gradientAnimation($color1, $color2) {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: $color2;
  background: linear-gradient(to right, $color1 8%, $color2 38%, $color1 54%);
  background-size: 1000px 640px;

  position: relative;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
