@mixin imageContainer() {
  background-color: #7e7e7e;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin transition() {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@mixin shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin oneLineProperties() {
  padding: 16px 16px 0 16px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
