@import "../../styles/variables";
@import "../../styles/mixins";

.movie-trailer{
    width: 320px;
    height: 190px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    margin: 8px;
    position: relative;
    float: left;
    overflow: hidden;
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: black;
        opacity: 0.4;
    }
    .content{
        text-align: center;
        position: relative;
        margin-top: 82px;
        text-transform: uppercase;
        color: white;
        font-weight: 800;
    }
}