@import "../../styles/mixins";
@import "../../styles/variables";
.movie-review {
  padding-left: 32px;
  .movie-review-author {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 4px;
  }
  .movie-review-content {
    font-size: 14px;
  }

  &.ghost {
    .movie-review-author,
    .movie-review-content {
      height: 16px;
      @include gradientAnimation($background-color-secondary, white);
    }
    .movie-review-author{
      width: 98px;
    }
  }
}
